
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  overflow-x: hidden;

}

.header {
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
  background-color: #fafafa;
}

.header .navbar {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-header {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}



.menu-header li a {
  text-decoration: none;
  color: #000;
  opacity: 0.4;
  padding: 10px;
  transition: all .3s ease-in-out;
}

.menu-header li a:hover {
  opacity: 1;
}

.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
  vertical-align: middle;
}

.LOGO {
  margin-left: 30px;
  padding: 10px;
}

.adbutton {
  background-color: #535351;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 10px;
  box-shadow: 0 4px 10px rgba(83, 83, 81, .2);
  transition: all .2s ease-in-out;
}

.adbutton a {
  color: #fff;
  text-decoration: none;
}

.navbar button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* main1*/

.container1 {
  display: flex;
  width: 100%;
  padding: 0 20px;
  min-height: 90vh; /* Занимает 100% высоты экрана */
  flex-grow: 1;
  gap: 20px; /* Отступы между колонками */
  overflow-y: auto; /* Позволяет прокручивать страницу */
}
.column1 {
  width: calc(50% - 15px); /* Учтем отступ */
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden; /* Скрытие содержимого за границами */
}
.block1 {
  background-color: #333333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%; /* Заполнение высоты колонки */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.block1 h1 {
  padding: 0 20px;
  font-size: 64px;
}
.block1-content {
  display: flex;
  justify-content: space-between; /* Размещение параграфа и кнопки по краям */
  align-items: center; /* Вертикальное выравнивание */
  margin-top: auto; /* Отодвинуть вверх оставшееся пространство */
  padding: 10px;
}
.block1-button {
  padding: 25px 30px 40px 30px;
  background-color: #474747;
  color: white;
  border: none;
  height: 35px;
  border-radius: 10px;
}
.block1-button a {
  vertical-align: middle;
}
.block1-large-button {
  width: 100%;
  padding: 15px 0;
  background-color: #fad458;
  color: #474747;
  border: none;
  height: 20%;
  border-radius: 20px;
}
.column1 img {
  width: auto;
  height: auto;
  margin: 0 30px;
}

.column1 a {
  text-decoration: none;
  color: #ffff;
  font-size: 16px;
}

.block1-large-button a {
  color: #474747;
  font-size: 32px;
  text-align: center;
}

.block1-span {
  opacity: 0.5;
}

.block1-content p {
  font-size: 24px;
}

.column1 button:hover {
  opacity: 0.8;
}

.comment-button {
  margin: 30px;
  float: right;
}
