
html body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x:;
}

.header {
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 10px rgba(0,0,0);
  background-color: #fafafa;
}

.header .navbar {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-header {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}



.menu-header li a {
  text-decoration: none;
  color: #000;
  opacity: 0.4;
  padding: 10px;
  transition: all .3s ease-in-out;
}

.menu-header li a:hover {
  opacity: 1;
}

.navbar-wrap {
  display: flex;
  flex-flow: row nowrap;
  vertical-align: middle;
}

.LOGO {
  margin-left: 30px;
  padding: 10px;
}

.adbutton {
  background-color: #535351;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 10px;
  box-shadow: 0 4px 10px rgba(83, 83, 81, .2);
  transition: all .2s ease-in-out;
}

.adbutton a {
  color: #fff;
  text-decoration: none;
}

button:hover {
  transform: scale(1.025);
  cursor: pointer;
}

/* main1*/

.main1 {
    display: flex;
    align-items: end;
    gap: 2vh;
    height: 80%;
    margin: 2.5vh;
}

/* main1-colums1 */

.main1-colums1 {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height: 62vh;
}
.main1-colums1-text {
    display:flex;
    align-items: flex-end;
    background: #333333;
    height: 100%;
    border-radius: 10px;
}

.main1-colums1-text-h1{
    display: flex;
    flex-direction: column;
    
}

.main1-colums1-text h1{
    display: flex;
    flex-direction: column;
    
}

.YaGO {
  color: #9a9a9a;
}
 
.main1-colums1-text-h1 {
  color: #fafafa;
}

.main1-colums1-text-p {
    color: #d3d8d4;
}

.main1-colums1-button button{
    background: #fad459;
    width: 100%;
    height: 15vh;
    font-size: larger;
    border-radius: 10px;
    transition: all .6s ease-in-out;
}


/*main1-colums2*/
.main1-colums2{
    border-radius: 10px;
    width: 1299px;
    height: 552px;
    background-color: #f5f4f0;

}

.main1-colums2 img{ 
    transform: scale(1.5);
    width: 100%;
    height: 100%;
}

.commentbutton {
    display: flex;
    justify-content: end;
}

